<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Video Game Store - Cart</title>

    <!-- Bootstrap core CSS -->

    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <!-- <link href="css/shop-homepage.css" rel="stylesheet"> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/user.js"></script>
    <script type="text/javascript" src="assets/js/cart.js"></script>
    <script src="/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="/css/users-list.css">


  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-inverse bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="">Welcome, <%= username %></a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav nav ml-auto navbar-right">
            <li class="nav-item">
              <a class="nav-link" href="/">Home
              </a>
            </li>
            <%if (username != 'Guest' && username != 'Admin') {%>
            <li class="nav-item">
              <a class="nav-link" href="/account">Account
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/cart">Cart
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <%}%>
            <li class="nav-item">
              <a class="nav-link" onclick="" href="/browse?no=0&platform=-1&name=&field=product.idproduct&order=desc">Browse</a>
            </li>
            <%if (username == 'Guest') {%>
            <li class="nav-item">
              <a class="nav-link" href="/registration">Login/Register</a>
            </li>
            <%}%>
            <%if (username != 'Guest') {%>
            <li class="nav-item">
              <a class="nav-link" href="" id="logout-button">Logout</a>
            </li>
            <%}%>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->

    <hr>
<div class="container bootstrap snippet">
  <!-- <input type="text" name="search" placeholder="Search.."> -->
    <div class="row">
        <div class="col-lg-12">
          </br>
      </br>
      <%if (cart.length != 0) {%>
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                <th><span>Name</span></th>
                                <th><span>Platform</span></th>
                                <th><span>Quantity</span></th>
                                <th style="width: 15%;"><span>Unit Price</span></th>
                                <th style="width: 15%;"><span>Sale %</span></th>
                                <th style="width: 15%;"><span>Total</span></th>
                                <th "width: 20%;">&nbsp;</th>
                                <th "width: 20%;">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                              <%for (var i = 0; i < cart.length; i++) {%>
                                <tr id="row<%=cart[i].idproduct%>">
                                  <td>
                                    <%=cart[i].name%>
                                  </td>
                                    <td>
                                      <% if (cart[i].platform == 0) {%>PC<%}%>
                                      <% if (cart[i].platform == 1) {%>PS4<%}%>
                                      <% if (cart[i].platform == 2) {%>Xbox One<%}%>
                                    </td>
                                    <form class="form-group updateo" id="<%=cart[i].idproduct%>">
                                      <td>
                                        <input style="width: 50%;" class="form-control" type="number" name="quantity" value="<%=cart[i].quantity%>">
                                      </td>
                                    </form>
                                    <td><%=cart[i].price%></td>
                                    <td><%=cart[i].sale%></td>
                                    <td><%=cart[i].total%></td>
                                    <td>
                                      <button id="update<%=cart[i].idproduct%>" "width: 20%;" type="button" class="btn btn-primary btn-md updatei">Update Item</button>
                                    </td>
                                    <td>
                                      <button id="delete<%=cart[i].idproduct%>" "width: 20%;" type="button" class="btn btn-danger btn-md deletei">Delete Item</button>
                                    </td>
                                </tr>
                                <%}%>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div style="float:right;text-align:right;">
              <h2 id="ordertotal">Total: <%=total%></h2>
              <h2>Coupon</h2>
              <input type="text" class="form-control" id="usr">
              <br/>
              <button id="placeit" "width: 20%;" type="button" class="btn btn-primary btn-lg">Place Order</button>
          </div>
          <%} else { %>
            <h1 align="center">Your cart is empty!</h1>
            <%}%>
        </div>
    </div>
</div>
    </br>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
